In [38]:
import pandas as pd
import numpy as np
import os
import pickle

In [6]:
dir_path = "../../data/WHOI"
year = "2016"

In [31]:
data_files = []
files = os.listdir(os.path.join(dir_path, year))
for i in range(len(files)):
    file = files[i]
    if file.endswith("csv"):
        data_file_df = pd.read_csv(os.path.join(dir_path, year, file))
        data_files.append(data_file_df)
    if i > 50:
        break

In [32]:
len(data_files)

16

In [33]:
height_m = 107
whoi_mvco_data = pd.concat(data_files).dropna().reset_index()[["Timestamp", "Position", "Temperature", f"{height_m}m Wind Direction (°)", f"{height_m}m Wind Speed (m/s)"]]
whoi_mvco_data["Timestamp"] = pd.to_datetime(whoi_mvco_data.Timestamp)
whoi_mvco_data["t"] = whoi_mvco_data.Timestamp.values.astype(np.int64) // 10 ** 9
whoi_mvco_data["wind_direction"] = whoi_mvco_data[f"{height_m}m Wind Direction (°)"]
whoi_mvco_data["sine_wind_direction"] = np.sin(whoi_mvco_data["wind_direction"])
whoi_mvco_data["z (m)"] = height_m

In [41]:
whoi_mvco_data = whoi_mvco_data.sort_values(by="t").reset_index().drop(columns="index")

In [44]:
min_t = whoi_mvco_data.iloc[0].Timestamp.month, whoi_mvco_data.iloc[0].Timestamp.day
print(min_t)
max_t = whoi_mvco_data.iloc[-1].Timestamp.month, whoi_mvco_data.iloc[-1].Timestamp.day
final_concat_path = os.path.join(dir_path, f"{year}_z={height_m}m_{min_t[0],min_t[1]}-{max_t[0],max_t[1]}.pickle")
with open(final_concat_path, "wb") as f:
    pickle.dump(whoi_mvco_data, f)
whoi_mvco_data

(10, 11)

,Timestamp,Position,Temperature,107m Wind Direction (°),107m Wind Speed (m/s),t,wind_direction,sine_wind_direction,z (m)
0,2016-10-11 02:08:31.410,90,18.3,308.76,11.54,1476151711,308.76,0.773231,107
1,2016-10-11 02:08:32.130,180,18.2,309.25,11.74,1476151712,309.25,0.980682,107
2,2016-10-11 02:08:32.850,270,18.2,308.15,11.86,1476151712,308.15,0.270507,107
3,2016-10-11 02:10:48.230,180,18.1,298.58,12.51,1476151848,298.58,-0.128343,107
4,2016-10-11 02:10:48.960,270,18.2,300.50,12.21,1476151848,300.50,-0.887962,107
...,...,...,...,...,...,...,...,...,...
1104774,2016-12-30 23:59:55.430,90,11.0,225.66,13.73,1483142395,225.66,-0.509558,107
1104775,2016-12-30 23:59:56.160,180,11.0,226.12,13.69,1483142396,226.12,-0.074602,107
1104776,2016-12-30 23:59:56.890,270,11.0,227.54,14.74,1483142396,227.54,0.974690,107
1104777,2016-12-30 23:59:58.570,0,11.0,229.98,14.56,1483142398,229.98,-0.600188,107
1104778,2016-12-30 23:59:59.300,90,11.0,229.25,13.91,1483142399,229.25,0.086157,107